*{
  font-family: "Microsoft YaHei" ! important;
  padding: 0px;
  margin: 0px;
}
li{
  list-style: none;
}
.aboutcon{
  width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  margin-top: 40px;
}
.aboutleft{
  float: left;
  width: 270px;
}
.about1{
  width: 270px;
  margin-bottom: 10px;
}
.aboutlefttit{
  width: 250px;
  padding: 10px;
  background: #30A2EE;
  font-size: 18px;
  color: #fff;
  text-align: left;
}
.aboutleftlist{
  border: 1px solid #c9c9c9;
}
.aboutleftlist li{
  width: 270px;
  height: 35px;
  line-height: 35px;
  text-align: left;
}
.aboutleftlist li a{
  display: block;
  line-height: 15px;
  padding: 10px;
  border-bottom: 1px solid #c9c9c9;
  font-size: 12px
}
.aboutleftlist li a:hover{
  color: #3c75ff;
  cursor: pointer;
}
.aboutright{
  width: 900px;
  float: right;
}
.aboutrighttit{
  width: 900px;
  height: 33px;
  padding-bottom: 10px;
  font-size: 24px;
  font-weight: 300;
  border-bottom: 1px dashed #797979;
  margin-bottom: 20px;
}
.aboutrightcon{
  width: 900px;
  line-height: 20px;
  font-size: 12px;
  color: #000;
}
